@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/subset-HelveticaNeueBold.woff') format('woff'),
    url('../fonts/subset-HelveticaNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/subset-HelveticaNeueLight.woff') format('woff'),
    url('../fonts/subset-HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'HelveticaNeue', sans-serif;
    color: #333;

}


header {
    margin: 40px 0;
    font-weight: bold;
    margin-left: -15px;
}

h1 {
    font-size: 4em;
}



#body-figure-container {
    position: relative;
    width: 235px;
    height: 414px;
    margin-left: auto;
    margin-right: auto;
}

#body-figure {
    position: absolute;
    width: 235px;
    height: 414px;
    top: 0;
    left: 0;
    z-index: 100;
}

.body-spot {
    position: absolute;
    z-index: 200;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #c00;
    /* box-shadow: 0px 0px 16px #c00; */
    display: none;

    animation-duration: 0.25s;
    animation-name: bodyspotblink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bodyspotblink {
    from {
        background-color: #300;
    }

    to {
        background-color: #e00;
    }
}

#injury-info-container {
    display: none;
}

#body-spot-head     { top: 25px; left: 100px; }
#body-spot-chest    { top: 100px; left: 100px; }
#body-spot-stomach  { top: 170px; left: 100px; }

#body-spot-armRight { top: 150px; left: 50px; }
#body-spot-armLeft  { top: 150px; left: 150px; }
#body-spot-legRight { top: 266px; left: 80px; }
#body-spot-legLeft  { top: 266px; left: 120px; }

.row-with-margins {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.warning{
    background-color:#9bbc97;	
    margin: -8px;
    border: 8px;
}

.alert-success{
    background-color: #2B5021;
    color: #7ADF32;
	
}
.alert-info{
    background-color:#7ADF32;	
    color: #6D000A;
}


p{
    color:#0b1e08;
    margin: 8px;	
}
.far-normal{
    color:#149911;
}
.far-danger{
    color:#d63230;
}
.far-warn{
    color:#ffbe1c;
}
hr{
    margin: 8px;
}

.lead{
    color:#000;

}



.text-white {
    font-size: 160%;
}


.row.selected {
    background: rgba(93, 255, 55, 0.16);
    padding: 4px 0;
}