/*Stylesheet*/


.questionAnswer{
    height:40px;
    background-color:#28A745;
    border-radius: 40px;
    width: 50px;
    margin:20px 10px 10px 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    color:white;
}

.questionAnswer:hover{ cursor:pointer; }

.question{
    height: 100px;
    border-style: solid;
    border-width: 1px;
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    margin:50px 10px 10px 20px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
#canvas{
	background-image:url('human3.png');
	background-repeat: no-repeat; 
	margin:10px
}

