<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noarchive">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <title>Health monitoring uniform</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css?v={{version}}">
</head>
<body>


    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/test.js?v={{version}}"></script>
</body>
</html>
