<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noarchive">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <title>Health monitoring uniform</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css?v={{version}}">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/test.js?v={{version}}"></script>
</head>
<body>
<divi class="container row">
    <div class="firstBlock col-lg-6">
        <div class="questions row">
            <div class="question col-md-10">{{question}}</div>
            {% for answer in answers %}
            <div class="questionAnswer col-md-3">{{answer}}</div>
            {% endfor %}
        </div>
    </div>
    <div class="secondBlock col-lg-6">
        <div class="row">
            <div class="squadButtons col-lg-12">
                <button type="button" class="btn btn-success">squad member </button>
            </div>
            <div class="interface col-lg-12">
                <p>Human interface</p>
            </div>
        </div>
    </div>
</divi>
</body>
</html>