<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="../static/bootstrap.min.css">
        <link rel="stylesheet" href="../static/style.css?v={{version}}">
        <title>Bloodsweep</title>
    </head>
    <body>
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-md-6 text-center">
                    <h1>Bloodsweep</h1>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 text-center">

                    <div id="body-figure-container">
                        <img src="../static/body2.png" id="body-figure" alt="">

                        <div class="body-spot" id="body-spot-head"></div>
                        <div class="body-spot" id="body-spot-chest"></div>
                        <div class="body-spot" id="body-spot-stomach"></div>

                        <div class="body-spot" id="body-spot-armRight"></div>
                        <div class="body-spot" id="body-spot-armLeft"></div>

                        <div class="body-spot" id="body-spot-legRight"></div>
                        <div class="body-spot" id="body-spot-legLeft"></div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center" id="injury-info-container">
                <div class="col-md-6 alert alert-secondary">
                    <p class="lead" id="injury-info-text"></p>
                </div>
            </div>
        </div>

        <script src="../static/jquery.js"></script>
        <script src="../static/injuries.js?v={{version}}"></script>
    </body>
</html>
